/* Logo Img */
#imgLoveTogether {
  width: 170px; /* Tamanho padrão da logo */
  position: absolute;
  top: 10px; /* Um valor fixo para manter a consistência em dispositivos móveis */
  left: 27%; 
  z-index: 9999;
  transition: width 0.3s ease; /* Transição suave ao redimensionar */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  #imgLoveTogether {
    width: 120px; /* Reduz o tamanho em dispositivos móveis */
    left: 20%; /* Ajusta a posição para centralizar melhor */
  }
}

@media (max-width: 480px) {
  #imgLoveTogether {
    width: 100px; /* Reduz ainda mais para telas pequenas */
    left: 15%; /* Ajusta o posicionamento */
  }
}
