body {
  max-width: 100vw;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}